.reserv_title{
	text-align:center;
	margin: 20px;
	padding : 10px;
}
.calendrier
{
	background-color:#F7F8F5;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}
.cel
{
	font-size:large;
	text-align:center;
	border:1px solid grey;
	
	font-weight:bold;
	background-color:white;
	
	width : 250px;
	height: 60px;
	
}
.cel_month{
	padding : 10px 0px;
	
	font-weight : bolder;	
	background-color:#62AC5B;
	
}
.cel_joueur{
	padding : 5px 0px;
	
	font-weight : bolder;
	background-color:#62AC5B;
	
}
.cel_date{
	padding:5px;
}
.cel_reserv{
	font-weight : normal;
	font-size : 16px;
	
	padding:10px;
}
.cel_value_name{
	margin:0px;
}
.cel_value_email{
	color:gray;
	font-size:10px;	
	margin:0px;
}
.cel_value_invite{
	color:gray;
	font-size:10px;	
	margin:0px;
}
.cel_reserv:hover{
	background-color: #d9edf7 !important;
	cursor: pointer;
}
.cel_weekend{
	background-color:#EFEFEF;
}
.btn-calandar-navigation{
	width: 100px;
}
