.reserv_title{
	text-align:center;
	margin: 20px;
	padding : 10px;
}
.calendrier
{
	background-color:#F7F8F5;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.cel
{
	font-size:large;
	text-align:center;
	border:1px solid grey;
	
	font-weight:bold;
	background-color:white;
	
	width : 200px;
	height: 50px;
	
}
.cel_month{
	padding : 10px 0px;
	
	font-weight : bolder;	
	background-color:#62AC5B;
	
}
.cel_joueur{
	padding : 5px 0px;
	
	font-weight : bolder;
	background-color:#62AC5B;
	
}
.cel_date{
	
}
.cel_reserv{
	
}
.cel_weekend{
	background-color:#EFEFEF;
}
#content
{
	margin-left:auto;
	margin-right:auto;
}