.calendrier
{
	width:100%;
	height:100%;
	border-collapse: collapse;
	background-color:#F7F8F5;
}
.cel
{
	font-size:large;
	text-align:center;
	border:1px solid grey;
	font-weight:bold;
	background-color:white;
}
.cel_month{
	font-weight : bolder;	
	background-color:#EFEFEF;
}
.cel_joueur{
	font-weight : bolder;
	background-color:#EFEFEF;
}
.cel_date{
	
}
.cel_reserv{
	
}
#content
{
	height:80%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border
}