table
{
	width:100%;
	height:100%;
	border-collapse: collapse;
	background-color:#F7F8F5;
}
.plein
{
	font-size:large;
	text-align:center;
	border:1px solid grey;
	font-weight:bold;
	background-color:white;
}
#content
{
	height:80%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}