.panel_title{
	display:block;
	background-color:#62AC5B;
	
}
.panel_title>h4{
	text-align:center;
	padding:3px;
	margin:0px;
}
.panel_content{
	padding:10px;
	margin : 0px 20px 20px 20px;
}

.panel_stat{
	display:block;
	
	margin:10px;
	
	background: white;
	
	border-radius: 5px;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}
.nav_admin{
	display:block;
	
	margin:10px;
	
	background: white;
	
	border-radius: 5px;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}
.panel_reservation{
	
	padding:20px;
	margin:10px;
	
	background: white;
	
	border-radius: 5px;
	box-shadow: 2px 3px 8px 0 rgba(0,0,0,.2);
}

.text-center{
	text-align:center;
}