html, body {
	height: 100%;
	width:  100%;

	background-color: #fafafa; /* grey lighten-5 */
}

a {
	text-decoration: none;
	color: inherit;
}

/* HEADER */
	header {
		width: 100%;
		background-color: #03a9f4; /* light-blue */
		color: #fff;


	}
    .header_img{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
     .nav {
        background-color: #0583bb;
    }

	img.site-logo {
        min-width: 100%;
        min-height: 100%;
		margin-left: 1em;
	}

/* MAIN */
	div.container {
		margin: 2em;

		text-align: center;
	}

	h1.category {
		margin: 1em 0;

		color: #424242; /* grey darken-4 */
	}
