html, body {
	height: 100%;
	width:  100%;
	
	background-color: #fafafa; /* grey lighten-5 */
}

a {
	text-decoration: none;
	color: inherit;
}

/* HEADER */
	header {
		width: 100%;
		height: 5em;
		
		line-height: 2em;
	
		background-color: #03a9f4; /* light-blue */
		color: #fff;
	
		border-bottom: 8px solid #039ADE; /* light-blue darken-1 */
	}
	
	img.site-logo {
		display: inline-block;

		margin-left: 1em;
	}
	
	p.site-user {
		right: 1em;
		top: 0;
		position: absolute;
	}
	
	nav.site-menu {
		float: right;
	
		margin-top: 2em;
		margin-right: 1em;
	
		font-size: 1.5em;
	}
	
	nav.site-menu > ul > li {
		display: inline-block;

		cursor: pointer;
	
		border-bottom: 0 solid #039ADE; /* light-blue darken-1 */
		-webkit-transition: border-bottom .2s linear;
		transition: border-bottom .2s linear;
	}
	
	nav.site-menu > ul > li:hover {
		border-bottom: 8px solid #026C9C; /* light-blue darken-4 */
	}

/* MAIN */
	div.container {
		margin: 2em;

		text-align: center;
	}

	h1.category {
		margin: 1em 0;

		color: #424242; /* grey darken-4 */
	}